@page "/Admin/Experience"
@layout ProfSvcLayout

<AdminGrid AdaptorInstance="@typeof(AdminExperienceAdaptor)" AddMethod="() => EditExperience()" AutocompleteMethod="Admin_SearchExperience" AutocompleteParameter="@("@Experience")" Count="@Count" DataHandler="DataHandler"
		   Entity="Experience" FilterGrid="FilterGrid" HeaderContentPlural="Experiences" HeaderContentSingular="Experience" Height="140px" Key="ID" Page="User" @ref="AdminGrid" RefreshGrid="RefreshGrid" RoleID="@RoleID"
		   RowSelected="RowSelected" ToggleMethod="() => ToggleStatusAsync(_selectedID)" ToggleValue="_toggleValue" TValue="AdminList" Width="393px">
	<GridColumn HeaderText="Experience" Width="50%">
		<Template Context="aCon">
			@{
				if (aCon is AdminList _con)
				{
					<span class="point" @onclick="() => EditExperience(_con.ID)">@_con.Text</span>
				}
			}
		</Template>
	</GridColumn>
	<GridColumn Field="@nameof(AdminList.ID)" HeaderText="Last Updated" IsPrimaryKey="true" Visible="false" Width="0" />
	<GridColumn Field="@nameof(AdminList.Enabled)" HeaderText="Status" Width="10%">
		<Template Context="aCon">
			@{
				if (aCon is AdminList _con)
				{
					<span>@(_con.IsEnabled ? "Active" : "Inactive")</span>
				}
			}
		</Template>
	</GridColumn>
	<GridColumn Field="@nameof(AdminList.UpdatedDate)" Format="d" HeaderText="Last Updated" Width="15%" />
	<GridColumn Field="@nameof(AdminList.CreatedDate)" HeaderText="Created" Width="15%" />
	<GridColumn Width="10%">
		<Template Context="bCon">
			@{
				if (bCon is AdminList _con)
				{
					<SfButton Content="" IconCss="editIcon" @onclick="() => EditExperience(_con.ID)" />
					<SfButton Content="" IconCss="@(_con.IsEnabled ? "statusOnIcon" : "statusOffIcon")" @onclick="() => ToggleMethod(_con.ID, _con.IsEnabled)"
							  title="@($"{(_con.IsEnabled ? "Disable" : "Enable")} Experience")" />
				}
			}
		</Template>
	</GridColumn>
</AdminGrid>
<AdminListDialog HeaderString="@($"{Title} Experience")" Model="ExperienceRecordClone" Placeholder="Experience" @ref="AdminDialog" Save="SaveExperience" />