@page "/Admin/LeadIndustry"
@layout ProfSvcLayout

<AdminGrid AdaptorInstance="@typeof(AdminIndustryAdaptor)" AddMethod="() => EditIndustry()" AutocompleteMethod="Admin_SearchIndustry" AutocompleteParameter="@("@Industry")" Count="@Count" DataHandler="DataHandler" Entity="Industry"
		   FilterGrid="FilterGrid" HeaderContentPlural="Lead Industries" HeaderContentSingular="Lead Industry" Height="140px" Key="ID" Page="Lead Industry" @ref="AdminGrid" RefreshGrid="RefreshGrid" RoleID="@RoleID"
		   RowSelected="RowSelected" ToggleMethod="() => ToggleStatusAsync(_selectedID)" ToggleValue="_toggleValue" TValue="AdminList" Width="413px">
	<GridColumn Field="Text" HeaderText="Industry" Width="50%">
		<Template Context="aCon">
			@{
				if (aCon is AdminList _con)
				{
					<span class="point" @onclick="() => EditIndustry(_con.ID)">@_con.Text</span>
				}
			}
		</Template>
	</GridColumn>
	<GridColumn Field="@nameof(AdminList.ID)" HeaderText="Last Updated" IsPrimaryKey="true" Visible="false" Width="0" />
	<GridColumn Field="@nameof(AdminList.Enabled)" HeaderText="Status" Width="10%">
		<Template Context="aCon">
			@{
				if (aCon is AdminList _con)
				{
					<span>@(_con.IsEnabled ? "Active" : "Inactive")</span>
				}
			}
		</Template>
	</GridColumn>
	<GridColumn Field="@nameof(AdminList.UpdatedDate)" Format="d" HeaderText="Last Updated" Width="15%" />
	<GridColumn Field="@nameof(AdminList.CreatedDate)" HeaderText="Created" Width="15%" />
	<GridColumn Width="10%">
		<Template Context="aCon">
			@{
				if (aCon is AdminList _con)
				{
					<SfButton Content="" IconCss="editIcon" @onclick="() => EditIndustry(_con.ID)" />
					<SfButton Content="" IconCss="@(_con.IsEnabled ? "statusOnIcon" : "statusOffIcon")" @onclick="() => ToggleMethod(_con.ID, _con.IsEnabled)"
							  title="@($"{(_con.IsEnabled ? "Disable" : "Enable")} Lead Industry")" />
				}
			}
		</Template>
	</GridColumn>
</AdminGrid>
<AdminListDialog HeaderString="@($"{Title} Lead Industry")" Model="LeadIndustryRecordClone" Placeholder="Lead Industry" @ref="AdminDialog" Save="SaveIndustry" />