@page "/Admin/LeadStatus"
@layout ProfSvcLayout

<AdminGrid AdaptorInstance="@typeof(AdminLeadStatusAdaptor)" AddMethod="() => EditLeadStatus()" AutocompleteMethod="Admin_SearchLeadStatus" AutocompleteParameter="@("@LeadStatus")" Count="@Count" DataHandler="DataHandler"
		   Entity="LeadStatus" FilterGrid="FilterGrid" HeaderContentPlural="Lead Statuses" HeaderContentSingular="Lead Status" Height="140px" Key="ID" Page="Lead Status" @ref="AdminGrid" RefreshGrid="RefreshGrid"
		   RoleID="@RoleID" RowSelected="RowSelected" ToggleMethod="() => ToggleStatusAsync(_selectedID)" ToggleValue="_toggleValue" TValue="AdminList" Width="397px">
	<GridColumn Field="Text" HeaderText="LeadStatus" Width="50%">
		<Template Context="aCon">
			@{
				if (aCon is AdminList _con)
				{
					<span class="point" @onclick="() => EditLeadStatus(_con.ID)">@_con.Text</span>
				}
			}
		</Template>
	</GridColumn>
	<GridColumn Field="@nameof(AdminList.ID)" HeaderText="Last Updated" IsPrimaryKey="true" Visible="false" Width="0" />
	<GridColumn Field="@nameof(AdminList.Enabled)" HeaderText="Status" Width="10%">
		<Template Context="aCon">
			@{
				if (aCon is AdminList _con)
				{
					<span>@(_con.IsEnabled ? "Active" : "Inactive")</span>
				}
			}
		</Template>
	</GridColumn>
	<GridColumn Field="@nameof(AdminList.UpdatedDate)" Format="d" HeaderText="Last Updated" Width="15%" />
	<GridColumn Field="@nameof(AdminList.CreatedDate)" HeaderText="Created" Width="15%" />
	<GridColumn Width="10%">
		<Template Context="bCon">
			@{
				if (bCon is AdminList _con)
				{
					<SfButton Content="" IconCss="editIcon" @onclick="() => EditLeadStatus(_con.ID)" />
					<SfButton Content="" IconCss="@(_con.IsEnabled ? "statusOnIcon" : "statusOffIcon")" @onclick="() => ToggleMethod(_con.ID, _con.IsEnabled)"
							  title="@($"{(_con.IsEnabled ? "Disable" : "Enable")} Lead Status")" />
				}
			}
		</Template>
	</GridColumn>
</AdminGrid>
<AdminListDialog HeaderString="@($"{Title} Lead Status")" Model="LeadStatusRecordClone" Placeholder="Lead Status" @ref="AdminDialog" Save="SaveLeadStatus" />