@page "/Admin/Skills"
@layout ProfSvcLayout

<AdminGrid AdaptorInstance="@typeof(AdminSkillAdaptor)" AddMethod="() => EditSkill()" AutocompleteMethod="Admin_SearchSkill" AutocompleteParameter="@("@Skill")" Count="@Count" DataHandler="DataHandler"
		   EnableVirtualization="Virtualization" Entity="Skill" FilterGrid="FilterGrid" HeaderContentPlural="Skills" HeaderContentSingular="Skill" Height="140px" Key="ID" Page="Skills" @ref="AdminGrid" RefreshGrid="RefreshGrid"
		   RoleID="@RoleID" RowSelected="RowSelected" ToggleMethod="() => ToggleStatusAsync(_selectedID)" ToggleValue="_toggleValue" TValue="AdminList" Width="344px">
	<GridColumn HeaderText="Skill" Width="50%">
		<Template Context="aCon">
			@{
				if (aCon is AdminList _con)
				{
					<span class="point" @onclick="() => EditSkill(_con.ID)">@_con.Text</span>
				}
			}
		</Template>
	</GridColumn>
	<GridColumn Field="@nameof(AdminList.ID)" HeaderText="Last Updated" IsPrimaryKey="true" Visible="false" Width="0"></GridColumn>
	<GridColumn Field="@nameof(AdminList.Enabled)" HeaderText="Status" Width="10%">
		<Template Context="aCon">
			@{
				if (aCon is AdminList _con)
				{
					<span>@(_con.IsEnabled ? "Active" : "Inactive")</span>
				}
			}
		</Template>
	</GridColumn>
	<GridColumn Field="@nameof(AdminList.UpdatedDate)" Format="d" HeaderText="Last Updated" Width="15%"></GridColumn>
	<GridColumn Field="@nameof(AdminList.CreatedDate)" HeaderText="Created" Width="15%"></GridColumn>
	<GridColumn Width="10%">
		<Template Context="bCon">
			@{
				if (bCon is AdminList _con)
				{
					<SfButton Content="" IconCss="editIcon" @onclick="() => EditSkill(_con.ID)" title="Edit Skill"></SfButton>
					<SfButton Content="" IconCss="@(_con.IsEnabled ? "statusOnIcon" : "statusOffIcon")" @onclick="() => ToggleMethod(_con.ID, _con.IsEnabled)"
							  title="@($"{(_con.IsEnabled ? "Disable" : "Enable")} Skill")" />
				}
			}
		</Template>
	</GridColumn>
</AdminGrid>
<AdminListDialog HeaderString="@($"{Title} Skill")" Model="SkillRecordClone" Placeholder="Skill" @ref="AdminDialog" Save="SaveSkill" />