@typeparam TValue
@using FilterType = Syncfusion.Blazor.DropDowns.FilterType
@typeparam TItem
@if (CreateDivTag)
{
	<div class="divFlex">
		<div class="divFlexLabel">
			<label class="labelStatus" for="@ID">@(Placeholder.NullOrWhiteSpace() ? "&nbsp;" : Placeholder.EndsWith(":") ? Placeholder : $"{Placeholder}:")</label>
		</div>
		<div class="divFlexSmall">
			<SfComboBox DataSource="@DataSource" ID="@ID" Query="@Query" TItem="TItem" TValue="TValue" Value="@Value" ValueChanged="@ValueChanged" ValueExpression="@ValueExpression" 
						Width="@Width" @ref="_combo" AllowFiltering="@AllowFilter" FilterType="FilterType.Contains" FilterBarPlaceholder="Search..." ShowClearButton="@ShowClearButton">
				<ComboBoxEvents TItem="TItem" TValue="TValue" ValueChange="@ComboValueChange" />
				<ComboBoxFieldSettings Text="@TextField" Value="@ValueField" />
			</SfComboBox>
		</div>
	</div>
}
else
{
	<SfComboBox DataSource="@DataSource" ID="@ID" Query="@Query" TItem="TItem" TValue="TValue" Value="@Value" ValueChanged="@ValueChanged" ValueExpression="@ValueExpression" Width="@Width" 
				@ref="_combo" AllowFiltering="@AllowFilter" FilterType="FilterType.Contains" FilterBarPlaceholder="Search..." ShowClearButton="@ShowClearButton">
		<ComboBoxEvents TItem="TItem" TValue="TValue" ValueChange="@ComboValueChange" />
		<ComboBoxFieldSettings Text="@TextField" Value="@ValueField" />
	</SfComboBox>
}