<SfDialog Header="@HeaderString" Height="600px" IsModal="true" MinHeight="300px" @ref="Dialog" Target="#divTarget" Visible="false" Width="700px">
	<ChildContent>
		<SfSpinner CssClass="spinnerHeight" @ref="Spinner" Type="SpinnerType.Fabric" ZIndex="12000" />
		<DialogPositionData X="right" Y="center"></DialogPositionData>
		<DialogAnimationSettings Effect="DialogEffect.SlideRight"></DialogAnimationSettings>
		<DialogEvents OnOpen="OpenDialog"></DialogEvents>
		<EditForm Model="@Model" OnValidSubmit="SaveUserList" @ref="EditUserForm">
			<FluentValidationValidator />
			<div class="divContainerTable">
				<TextBoxControl @bind-Value="@(Model.UserName)" @bind-Value:event="ValueChanged" CreateDivTag="true" CreateTooltip="true" ID="textText" MaxLength="10" MinLength="1"
								Multiline="false" Placeholder="User Name" Readonly="@(HeaderString.Contains("Edit"))" ValidationMessage="@(() => Model.UserName)" />
				<TextBoxControl @bind-Value="@(Model.Password)" @bind-Value:event="ValueChanged" CreateDivTag="true" CreateTooltip="true" ID="textPassword" MaxLength="16" MinLength="0" Multiline="false"
								Placeholder="Password" TextBoxType="InputType.Password" Tooltip="Enter new password. Leave empty to use the current password." ValidationMessage="@(() => Model.Password)" />
				<div class="divFlex">
					<div class="divFlexLabel" style="display: flex">
						<div style="width: 48%">
							<label class="labelStatus" for="textFirst">First Name</label>
						</div>
						<div style="margin-left: 4%; width: 48%;">
							<label class="labelStatus" for="textLast">Last Name:</label>
						</div>
					</div>
					<div class="divFlexSmall" style="display: flex;">
						<div style="width: 48%">
							<TextBoxControl @bind-Value="@(Model.FirstName)" @bind-Value:event="ValueChanged" CreateDivTag="false" CreateTooltip="true" ID="textFirst" MaxLength="50"
											MinLength="1" Placeholder="First Name" ValidationMessage="@(() => Model.FirstName)" Width="93%" />
						</div>
						<div style="margin-left: 4%; width: 48%;">
							<TextBoxControl @bind-Value="@(Model.LastName)" @bind-Value:event="ValueChanged" CreateDivTag="false" CreateTooltip="true" ID="textLast" MaxLength="50"
											MinLength="1" Placeholder="Last Name" ValidationMessage="@(() => Model.LastName)" Width="93%" />
						</div>
					</div>
				</div>
				<DropDownControl @bind-Value="@Model.RoleID" @bind-Value:event="ValueChanged" CreateDivTag="true" DataSource="RolesList" ID="dropState" Placeholder="Role" TextField="Value"
								 TItem="KeyValues" TValue="string" ValueField="Key" />
				<TextBoxControl @bind-Value="@(Model.EmailAddress)" @bind-Value:event="ValueChanged" CreateDivTag="true" CreateTooltip="true" ID="textEmail" MaxLength="100" MinLength="1" Multiline="false"
								Placeholder="Email Address" ValidationMessage="@(() => Model.EmailAddress)" />
				<SwitchControl @bind-BindValue="@(Model.StatusEnabled)" ID="checkedEnabled" OffLabel="INACTIVE" OnLabel="ACTIVE" Placeholder="Status?" />
			</div>
			<DialogFooter Cancel="Cancel" CancelMethod="CancelUserList" @ref="DialogFooter" Save="Save" />
		</EditForm>
	</ChildContent>
</SfDialog>