<SfDialog Header="Variable Commission" Height="570px" IsModal="true" MinHeight="300px" @ref="Dialog" Target="#divTarget" Visible="false" Width="370px">
	<ChildContent>
		<SfSpinner CssClass="spinnerHeight" @ref="Spinner" Type="SpinnerType.Fabric" ZIndex="12000" />
		<DialogPositionData X="right" Y="center"></DialogPositionData>
		<DialogAnimationSettings Effect="DialogEffect.None"></DialogAnimationSettings>
		<DialogEvents OnOpen="OpenDialog"></DialogEvents>
		<EditForm Model="@Model" OnValidSubmit="SaveVariableCommission" @ref="EditVariableCommission">
			<DataAnnotationsValidator></DataAnnotationsValidator>
			<div class="divContainerTable">
				<NumericControl @bind-Value="@(Model.NoOfHours)" @bind-Value:event="ValueChanged" CreateDivTag="true" Decimals="0" Format="####" ID="numericNoofHours"
								Max="4000" Placeholder="No. of working hours in a year." TValue="short" ValidationMessage="@(() => Model.NoOfHours)" />
				<NumericControl @bind-Value="@(Model.OverheadCost)" @bind-Value:event="ValueChanged" CreateDivTag="true" Decimals="0" Format="###'%'" ID="numericOverhead"
								Max="100" Placeholder="Ocerhead cost in percentage." TValue="byte" ValidationMessage="@(() => Model.OverheadCost)" />
				<NumericControl @bind-Value="@(Model.W2TaxLoadingRate)" @bind-Value:event="ValueChanged" CreateDivTag="true" Decimals="0" Format="###'%'" ID="numericWTaxloading"
								Max="100" Placeholder="W2 Tax loading rate." TValue="byte" ValidationMessage="@(() => Model.W2TaxLoadingRate)" />
				<NumericControl @bind-Value="@(Model.CostRate1099)" @bind-Value:event="ValueChanged" CreateDivTag="true" Decimals="0" Format="###'%'" ID="numeric1099"
								Max="100" Placeholder="1099 cost rate." TValue="byte" ValidationMessage="@(() => Model.CostRate1099)" />
				<NumericControl @bind-Value="@(Model.FTERateOffered)" @bind-Value:event="ValueChanged" CreateDivTag="true" Decimals="0" Format="###'%'" ID="numericFTE"
								Max="100" Placeholder="FTE rate offered." TValue="byte" ValidationMessage="@(() => Model.FTERateOffered)" />
			</div>
			<DialogFooter Cancel="Cancel" CancelMethod="CancelVariableCommission" @ref="DialogFooter" Save="Save" />
		</EditForm>
	</ChildContent>
</SfDialog>