<SfDialog Header="Search Candidate" Height="98vh" IsModal="true" MinHeight="98vh" @ref="Dialog" Target="#divTarget" Visible="false" Width="800px">
	<ChildContent>
		<SfSpinner CssClass="spinnerHeight" @ref="Spinner" Type="SpinnerType.Fabric" ZIndex="12000" />
		<DialogPositionData X="center" Y="center"></DialogPositionData>
		<DialogAnimationSettings Duration="500" Effect="DialogEffect.FadeZoom"></DialogAnimationSettings>
		<DialogEvents OnOpen="OpenDialog"></DialogEvents>
		<EditForm Model="Model" OnValidSubmit="SearchCandidateDialog" @ref="EditSearchForm">
			<DataAnnotationsValidator />
			<div class="divContainerTable">
				<TextBoxControl @bind-Value="@(Model.Name)" @bind-Value:event="ValueChanged" CreateDivTag="true" CreateTooltip="false" ID="textName" MaxLength="255" MinLength="0" Multiline="false"
								Placeholder="Name" />
				<div class="divSwitchFlex">
					<div class="divSwitchFlexLabel">
						<label class="labelStatus">Show:</label>
					</div>
					<div class="divSwitchFlexControl divCandidateShow" style="display: flex; width: 400px">
						<SfRadioButton @bind-Checked="@Model.AllCandidates" Label="All Candidates" Name="showCandidates" Value="true"></SfRadioButton>
						<SfRadioButton @bind-Checked="@Model.AllCandidates" Label="My Candidates" Name="showCandidates" Value="false"></SfRadioButton>
					</div>
				</div>
				<SwitchControl @bind-BindValue="@(Model.IncludeAdmin)" ID="checkedIncludeAdmin" OffLabel="NO" OnLabel="YES" Placeholder="Include Admin Candidates?" />
				<TextBoxControl @bind-Value="@(Model.Keywords)" @bind-Value:event="ValueChanged" CreateDivTag="true" CreateTooltip="false" ID="textKeywords" MaxLength="2000" MinLength="0"
								Multiline="true" Placeholder="Enter Keywords (separated by commas)" Rows="4" />
				<TextBoxControl @bind-Value="@(Model.Skills)" @bind-Value:event="ValueChanged" CreateDivTag="true" CreateTooltip="false" ID="textSkills" MaxLength="2000" MinLength="0"
								Multiline="true" Placeholder="Enter Skills (separated by commas)" Rows="4" />
				<SwitchControl @bind-BindValue="@(Model.CityZip)" ID="checkedNarrow" OffLabel="STATE" OnLabel="CITY/ZIP" Placeholder="Narrow Search By" />
				<div id="divZip" style="display: @(Model.CityZip ? "initial" : "none")">
					<div class="divSwitchFlex">
						<div class="divSwitchFlexLabel">
							<label class="labelStatus" for="autoCityZip">City/Zip:</label>
						</div>
						<div class="divSwitchFlexControl divCandidateShow" style="display: flex;">
							<AutoCompleteButton @bind-Value="@(Model.CityName)" @bind-Value:event="ValueChanged" EnablePersistence="false" ID="autoCityZip" ModelValue="false"
												PlaceholderText="Select a City or Zip" @ref="AutoCompleteControl" Ref="AutoCompleteCityZip" TypeInstance="@typeof(CandidateCityZipAdaptor)" />
						</div>
					</div>
					<div>
						<div style="display: inline-block; width: 12%;">
							<DropDownControl @bind-Value="@Model.Proximity" @bind-Value:event="ValueChanged" CreateDivTag="true" DataSource="@ProximityValue" ID="dropProximity" Placeholder="Proximity"
											 TextField="Value" TItem="IntValues" TValue="int" ValueField="Key" Width="75px" />
						</div>
						<div style="display: inline-block; width: 25%;">
							<DropDownControl @bind-Value="@Model.ProximityUnit" @bind-Value:event="ValueChanged" CreateDivTag="true" DataSource="@ProximityUnit" ID="dropProximityUnit"
											 TextField="Value" TItem="IntValues" TValue="byte" ValueField="Key" Width="75px" />
						</div>
					</div>
				</div>
				<div id="divState" style="display: @(Model.CityZip ? "none" : "initial"); height: unset;">
					<MultiSelectControl @bind-Value="@(Model.StateID)" @bind-Value:event="ValueChanged" CreateDivTag="true" CreateTooltip="false" DataSource="StateDropDown"
										FilterBarPlaceholder="Search State&hellip;" ID="multiState" KeyField="Key" Placeholder="Select State(s)" TItem="IntValues" TValue="string" ValueField="Value" />
				</div>
				<div>
					<div style="display: inline-block; width: 48%;">
						<DropDownControl @bind-Value="@Model.Eligibility" @bind-Value:event="ValueChanged" CreateDivTag="true" DataSource="@EligibilityDropDown" ID="dropEligibility"
										 Placeholder="Eligibility" TextField="Value" TItem="IntValues" TValue="int" ValueField="Key" />
					</div>
					<div style="display: inline-block; width: 48%;">
						<DropDownControl @bind-Value="@Model.JobOptions" @bind-Value:event="ValueChanged" CreateDivTag="true" DataSource="@JobOptionsDropDown" ID="dropJobOptions"
										 Placeholder="Job Options" TextField="Value" TItem="KeyValues" TValue="string" ValueField="Key" />
					</div>
				</div>
				<div>
					<div style="display: inline-block; width: 48%;">
						<DropDownControl @bind-Value="@Model.Relocate" @bind-Value:event="ValueChanged" CreateDivTag="true" DataSource="@RelocateDropDown" ID="dropRelocate" Placeholder="Relocate"
										 TextField="Value" TItem="KeyValues" TValue="string" ValueField="Key" />
					</div>
					<div style="display: inline-block; width: 48%;">
						<DropDownControl @bind-Value="@Model.SecurityClearance" @bind-Value:event="ValueChanged" CreateDivTag="true" DataSource="@SecurityClearanceDropDown" ID="dropSecurityClearance"
										 Placeholder="Security Clearance" TextField="Value" TItem="KeyValues" TValue="string" ValueField="Key" />
					</div>
				</div>
                <SwitchControl @bind-BindValue="@(Model.ActiveRequisitionsOnly)" ID="checkedActive" OffLabel="NO" OnLabel="YES" Placeholder="Active Requisitions Only" />
            </div>
			<DialogFooter CancelMethod="CancelSearchDialog" @ref="DialogFooter" />
		</EditForm>
	</ChildContent>
</SfDialog>