<div class="educationContainerBox">
	<div>
		<div>
			<SfGrid AllowPaging="false" DataSource="@Model" EnableHeaderFocus="true" EnableHover="true" Height="255px" ID="gridEducation" @ref="GridEducation" RowHeight="@RowHeight"
					SelectedRowIndex="0" TValue="CandidateEducation" Width="99%">
				<GridSelectionSettings EnableToggle="false" Mode="SelectionMode.Row" Type="SelectionType.Single" />
				<GridEvents RowSelected="RowSelected" TValue="CandidateEducation" />
				<GridColumns>
					<GridColumn Field="@nameof(CandidateEducation.Degree)" HeaderText="Degree" Width="20%" />
					<GridColumn Field="@nameof(CandidateEducation.ID)" HeaderText="ID" IsPrimaryKey="true" Visible="false" />
					<GridColumn Field="@nameof(CandidateEducation.College)" HeaderText="College" Width="20%" />
					<GridColumn HeaderText="Location" Width="20%">
						<Template Context="aCon">
							@{
								if (aCon is CandidateEducation _con)
								{
									<span>@(_con.State + ", " + _con.Country)</span>
								}
							}
						</Template>

					</GridColumn>
					<GridColumn Field="@nameof(CandidateEducation.Year)" HeaderText="Year" Width="20%/"></GridColumn>
					<GridColumn Field="@nameof(CandidateEducation.UpdatedBy)" HeaderText="Updated By" Width="20%" />
					<GridColumn Width="10%">
						<Template Context="bCon">
							@{
								if (bCon is CandidateEducation {UpdatedBy: "JOLLY" } _con && !IsRequisition && EditRights)
								{
									<SfButton Content="" IconCss="editIconInner" @onclick="() => EditEducationDialog(_con.ID)" />
									<SfButton Content="" IconCss="deleteIconInner" @onclick="() => DeleteEducationMethod(_con.ID)" />
								}
							}
						</Template>
					</GridColumn>
				</GridColumns>
			</SfGrid>
		</div>
	</div>
</div>
<ConfirmDialog Delete="() => DeleteEducation.InvokeAsync(_selectedID)" Entity="Education" Height="160px" @ref="DialogConfirm" Width="378px" />@* *@